<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="mainAppender">
            <PatternLayout pattern="%-7r %-5p [%-15t] %c{1}: %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.http.wire" level="info"/>
        <Logger name="org.glassfish.jersey" level="debug"/>
        <Logger name="com.emc.rest.smart" level="debug"/>

        <!-- signature debugging -->
        <!--
        <Logger name="com.emc.object.s3.S3SignerV2" level="trace"/>
        -->

        <!-- request debugging -->
<!--        &lt;!&ndash;-->
        <Logger name="org.apache.http.headers" level="debug"/>
<!--        &ndash;&gt;-->

        <!-- Turn on for Apache connection management logging -->
<!--        &lt;!&ndash;-->
        <Logger name="org.apache.http.conn" level="debug"/>
<!--        &ndash;&gt;-->

        <Root level="info">
            <AppenderRef ref="mainAppender"/>
        </Root>
    </Loggers>
</Configuration>