###
### Template file for test configuration parameters.
### Copy to "test.properties" and configure for your environment.
###

## Your S3 Access Key
s3.access_key=<user>@<domain>

## Your S3 Secret Key
s3.secret_key=<secretkey>

## Endpoint to the S3 Access Point
s3.endpoint=http[s]://<ecshost>[:9020|:9021]


### STS test part, uncomment the following to test STS

## Your S3 Access Key for sts
#s3.temp_access_key=<user>@<domain>

## Your S3 Secret Key for sts
#s3.temp_secret_key=<secretkey>

## Uncomment this to add your sts token
#s3.security_token=<securityToken>


## Uncomment to enable vhost-style requests (including the namespace)
#enableVhost=true

## Uncomment to disable smart client
#disableSmartClient=true

## Optional -- HTTP proxy.  Useful for debugging.
#http.proxyUri=http://localhost:8888
